.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
sev_traits_cv_manuscript.Rproj
Data/
bounce_histograms.png
bounce_vs_zeros.png
illogical_biomass.csv
all_pics_corr.png
pca_corr.png
pca_importance.png
Figures/
*.html
*.pdf
