sev_seed_masses.xlsx
sev_stem_root_data_2017-18.xlsx
fine_root_shapes_2017-18.xlsx
indv_samp_traits_2017-18.xlsx
sev_plant_traits_collected_samples_2017.xlsx
sev_leaf_masses_2017-18.xlsx
sev_leaf_area_2017-18.xlsx
sev_plant_isotopes_2017-18.xlsx
