sev_seed_masses.xlsx
sev_stem_root_data_2017-18.xlsx
fine_root_shapes_2017-18.xlsx
indv_samp_traits_2017-18.xlsx
sev_plant_traits_collected_samples_2017.xlsx
sev_leaf_masses_2017-18.xlsx
sev_leaf_area_2017-18.xlsx
sev_plant_isotopes_2017-18.xlsx
traits_spp_list.csv
NPPCV.xlsx
NPP_quad_20181105.csv
Sevilleta_allbiomass_28Jan2018.csv
fine_root_mass.xlsx
sev129_nppcorequadrat_20170621.csv
sev278_npppinjquadrat_20161214.csv
sev_all_spp_list_augmented.csv
sev_all_traits_Nov2018.csv
sev_traits_tree101.tre
